.save-btn{
    float:right;
}

.action-container {
    max-width:480px;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active {
    width: 60%;
    border-color: black;
    background-color: white;
    color: black
}